<div class="container-fluid">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <div class="jumbotron space-a comment-Edit-dark">
        <fieldset>
          <h1 class="text-center space-title form-title"> <%= "#{@article.title}" %></h1>
          <div class=" ">
            <%= simple_form_for([@article, @comment] , html: { class: 'comment-form-Edit-dark' } ) do |f| %>
             <%= f.error_notification %>
              <div class="table-responsive">
                <%= f.input :body, label: false,  autofocus: true, autocomplete: "body", require: true ,
                    :as => :trix_editor, :input_html => { class: "form-trix-dark" , placeholder:"Cuerpo Del Articulo Por Crear" , 'rows' => 5, 'cols' => 29 } %>
              </div>
              <div class="form-group ">
                <%= f.button :submit, "Comentar", class: "btn btn-info btn-block form-btn-dark" %>
              </div>
            <% end %>
          </div>
        </fieldset>
      </div>
    </div>
  </div>
</div>
