<div class="col-sm-12 col-md-6 col-lg-4 article-salto article-dark">
  <div class="card h-100 article-container article-dark">
    <div class="card-body salto">
      <%= link_to article do %>
        <%= image_tag article.img_art , class: "card-img-top" %>
        <h5 class="card-title"><%= link_to truncate(article.title , length: 20), article, class: "article-title-dark"  %></h5>
        <p class="card-text"> <%= truncate_html(article.body.html_safe, length: 100 , class: "article-body-dark")  %></p>
        <%temporal = "Categorias: "%>
        <% article.categories.each do |category| %>
        <% temporal = "#{temporal} #{category.name}" %>
        <%end%>
        <p class="article-categoria-body-dark"> <%= temporal %> </p>
      <%end%>
    </div>
  </div>
</div>
