<div class="row">
  <div class="col-md-12">
    <div class="jumbotron article-form-dark space-a">
      <h1 class="text-center space-title form-title"><%= "#{titulo} Articulo" %></h1>
      <div class="">
        <%= simple_form_for @article do |f| %>
         <%= f.error_notification %>
          <div class="fomr-group row">
            <%= f.label "Titulo: ", class:"offset-md-2 col-md-3 col-form-label text-right space-label-right" %>
            <%= f.input :title , label: false,  autofocus: true, placeholder:"Titulo De Articulo" , autocomplete: "title",require:true, class: "col-md-4 form-control" %>
          </div>
          <div class="fomr-group row">
            <%= f.label "Banner: ", class:"offset-md-2 col-md-3 col-form-label text-right space-label-right" %>
            <%= f.input :img_art , label: false, as: :file ,   autofocus: true, placeholder:"Imagen" , autocomplete: "title",require:true, class: "col-md-4 form-control" %>
          </div>
          <div class="table-responsive">
            <%= f.input :body, label: false,  autofocus: true, autocomplete: "body", require: true ,
                :as => :trix_editor, :input_html => { placeholder:"Cuerpo Del Articulo Por Crear" , 'rows' => 5, 'cols' => 29 } %>
          </div>
          <div class="">
              <% Category.all.each do |category| %>
                <%= check_box_tag "categories[]", category.id %> <%= category.name %>
              <%end%>
          </div>&nbsp;
          <div class="from-group row">
            <div class="container text-center">
              <%= f.button :submit, "Enviar",  class: "btn btn-info col-md-3" %>&nbsp; 
              <a class="btn btn-info col-md-3" href="<%=root_path%>">Atras</a>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
