<div class="espaciotabla">
  <div class="jumbotron">
    <h1 class="text">Adminitrador</h1>
    <p class=""> <%= link_to "Normal", articles_path(normal: true), class: "btn btn-success" %> </p>
    <div class="table-responsive">
      <table class="table table-bordered">
        <thead class="thead-dark">
          <tr>
            <th class="text-center">Titulo</th>
            <th class="text-center">Acciones</th>
          </tr>
        </thead>
        <tbody class="jumbotron color-d">
          <% @articles.each do |art| %>
            <tr>
              <td class="bueno"> <%= "#{art.title}" "#{art.created_at.strftime("%d-%m-%Y %H:%M")}" %> </td>
              <td class="text-center">
                <%= link_to "Ver", art, class: "fa fa-bomb  btn btn-info"%>&nbsp;
                <%= link_to "Editar", edit_article_path(art), class: "fa fa-pencil-square-o  btn btn-warning"%>&nbsp;
                <%= link_to "Eliminar", art, method: :delete, data: { :confirm => "Estás seguro? de Eliminar El Articulo #{art.title}"} , class: "fa fa-trash-o btn btn-danger"%>
              </td>
            </tr>
          <%end%>
        </tbody>
      </table>
    </div>
  </div>
</div>
