<div class="jumbotron space-a show-dark">
  <% if user_signed_in? %>
    <div class="row">
      <div class="col-10">
          <h1 class="H1 card-title"><%= @article.title %></h1>
      </div>
      <div class="col-2">
        <div class="botonContainer">
          <% if user_signed_in? && current_user.is_editor? %>
            <%= link_to "Editar" , edit_article_path(@article), class: "btn btn-warning float-right show-btn-dark" %>
          <%end%>
        </div>
      </div>
    </div>
  <%end%>
  <div class="row">
      <% if !@article.user.nil? %>
        <p class="show-user-email-dark"><%= @article.user.email %></p> &nbsp;
      <%end%>
  </div>
  <div class="row">
    <div class="col-md-12">
      <%= image_tag @article.img_art, class: "img-fluid" , alt: "Volver a Insertar Banner!" %>
    </div>
  </div>
  <div class="article-html space-a space-b show-body-dark">
    <p class="card-text"><%= truncate_html(@article.body.html_safe, length: 100) %></p>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h3 class="H3">Categorias:</h3>
      <% @article.categories.each do |category| %>
          <span class="badge badge-primary show-badge-dark"><strong><%= category.name %></strong></span>
      <%end%>
    </div>
  </div><hr class="HR-dark">
  <div class="">
    <div class="comments-container comments-dark">
      <h1 class="Show-H1-dark"><i class="fa fa-comments"></i> Comentarios <a href="#" class="Show-H1-dark">Blog.com</a></h1>
      <ul id="comments-list comment-list-dark" class="comments-list UL">
        <% @article.comments.each do |comment| %>
          <li class="LI">
              <div class=" comment-main-level">
                <div class="comment-box">
                  <div class=" comment-head">
                    <h6 class="comment-name by-author card-title"><a href="#"></a><%= truncate_html(comment.user.email.html_safe) %></h6>
                    <span><%= comment.created_at.strftime("%d-%m-%Y %H:%M") %></span>
                    <% if user_signed_in? && current_user == comment.user %>
                      <p class="I" data-toggle="tooltip" title="Eliminar" ><%= link_to '' , [@article, comment], data: { confirm: "Estas Seguro? "}, method: :delete , class: "caneca I fa fa-trash-o" %></p>
                      <p class="I" data-toggle="tooltip" title="Editar"> <%= link_to '' , edit_article_comment_path(@article, comment), class: "lapiz I fa fa-pencil-square-o" %> </p>
                    <%end%>
                  </div>
                  <div class=" comment-content">
                    <p class="card-text"><%= truncate_html(comment.body.html_safe, length: 100) %></p>
                  </div>
                </div>
              </div>
          </li>
        <%end%>
      </ul>
      <div class="space-b">
        <% unless @article.comments.present? %>
            <h2 class="text-center">No Hay Comentarios</h2>
        <%end%>
      </div>
    </div><hr class="HR-dark">
  </div>
  <% if user_signed_in? %>
    <div class="">
      <%= render "comments/form" , comment: @comment%>
    </div>
  <%end%>
</div>
