<div class="jumbotron">
  <h1><%= @article.title %></h1>
  <h3><%= @article.body %></h3>
  <% if !@article.user.nil? %>
    <p><%= @article.user.email %></p>
  <%end%>
  <%= link_to "Atras" , root_path, class: "btn btn-info" %>
  <%= link_to "Editar" , edit_article_path(@article), class: "btn btn-warning" %>
</div>
