<nav class="navbar navbar-expand-lg navbar-dark bg-success">
  <a class="navbar-brand" href=" <%= root_path %> ">Blog</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item ">
        <%= link_to "Inicio", root_path , class: "nav-link bueno" %>
      </li>
      <li class="nav-item ">
        <%= link_to "Contactos", contacts_new_path , class: "nav-link bueno" %>
      </li>
      <% if user_signed_in? %>
        <%= link_to "Cerrar Sesión", destroy_user_session_path, method: :delete, class: "nav-link bueno" %>
      <%else%>
        <%= link_to "Iniciar Sesión", new_user_session_path, class: "nav-link bueno"  %>
        <%= link_to "Registrarse", new_user_registration_path, class: "nav-link bueno" %>
      <%end%>
    </ul>
    <%= form_tag articles_search_path, :method => 'get', class: "form-inline my-2 my-lg-0" do %>
        <%= text_field_tag :titulo, params[:titulo], class: "form-control mr-sm-2" %>
        <%= submit_tag "Search", :name => nil , class: "btn btn-light my-2 my-sm-0" %>
    <%end%>
  </div>
</nav>
