<div class="row">
  <div class="col-md-12">
    <div class="jumbotron devise-dark space-a">
      <h2 class="text-center form-title devise-title-dark"> Iniciar Sesi칩n </h2>
        <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <%= f.error_notification %>
          <div class="container">
            <div class="form-group ">
              <%= f.input :email, required: true, autofocus: true, input_html: { autocomplete: "email" , placeholder: "Correo Electronico" , class: " form-control" } %>
            </div>
            <div class="form-group ">
              <%= f.input :password, label: "Contase침a", required: true, hint: ("#{@minimum_password_length} Caracteres Minimos" if @minimum_password_length),
                          input_html: { autocomplete: "new-password", placeholder: "Contrase침a" , class: " form-control" } %>
            </div>
            <div class="form-group ">
              <%= f.button :submit, "Iniciar Sesi칩n", class: "btn btn-success btn-block devise-btn-dark" %>
              <a class="btn btn-info btn-block" href="<%=new_user_registration_path%>">Registrase</a>
            </div>
          </div>
        <% end %>
    </div>
  </div>
</div>
