<style type="text/css" media="screen">
  <%= ".#{category.color}" %>{
    background: <%= category.color %> !important;
  }
</style>
<div class="col-md-3">
  <div class="jumbotron <%= "#{category.color}" %>">
    <h4 class="text"><%= category.name %></h4>
    <div class="">
      <p> <%= "Contiene #{category.articles.count} articu(s)" %>  </p>
    </div>
  </div>
</div>
