<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="jumbotron space-a">
        <fieldset>
          <h1 class="text-center space-title form-title"><%= "#{titulo} Categoria" %></h1>
          <div class="">
            <%= form_with(model: category, local: true) do |form| %>
                <div class="form-group row">
                  <%= form.label "Nombre: ", class:"offset-md-2 col-md-3 col-form-label text-right space-label-right" %>
                  <%= form.text_field :name, class: "col-md-4 form-control" %>
                </div>
                <div class="form-group row">
                  <%= form.label "Color: ", class:"offset-md-2 col-md-3 col-form-label text-right space-label-right" %>
                  <%= form.text_field :color, class:"col-md-4 form-control" %>
                </div>
                <div class="form-group row">
                  <div class="container text-center">
                    <%= form.submit "Enviar", class:"btn btn-info col-md-3" %>
                    <%= link_to "Atras" , root_path, class:"btn btn-info col-md-3" %>
                  </div>
                </div>
            <%end%>
          </div>
        </fieldset>
      </div>
    </div>
  </div>
</div>
