<div class="Espace-Table space-a">
  <div class="jumbotron table-responsive Admin-dark">
    <div class="table-responsive">
      <h1 class="Admin-title-dark">Adminitrador</h1>
    </div>
    <p class=""> <%= link_to "Normal", categories_path(normal: true), class: "btn btn-success Admin-btn-dark" %> </p>
    <div class="table-responsive">
      <table class="table table-bordered">
        <thead class="thead-dark">
          <tr>
            <th class="text-center Admin-th-dark">Titulo</th>
            <th class="text-center Admin-th-dark">Fecha</th>
            <th class="text-center Admin-th-dark">Acciones</th>
          </tr>
        </thead>
        <tbody class="Admin-tbody-dark color-d">
          <% @categories.each do |cat| %>
            <tr class="Admin-tr-dark">
              <td class="bueno"> <%= cat.name %> </td>
              <td class="bueno"> <%= cat.created_at.strftime("%d-%m-%Y %H:%M") %> </td>
              <td class="text-center">
                <%= link_to " Ver ", cat, class: "fa fa-eye  btn btn-info"%>&nbsp;
                <%= link_to " Editar ", edit_category_path(cat), class: "fa fa-pencil-square-o  btn btn-warning"%>&nbsp;
                <%= link_to " Eliminar ", cat, method: :delete, data: { :confirm => "Estás seguro? de Eliminar La Categoria #{cat.name}"} , class: "fa fa-trash-o btn btn-danger"%>
              </td>
            </tr>
          <%end%>
        </tbody>
      </table>
    </div>
  </div>
</div>
